certifi==2023.11.17
charset-normalizer==3.3.2
distlib==0.3.8
filelock==3.13.1
idna==3.6
pillow==10.2.0
platformdirs==4.1.0
protobuf==4.21.12
python-dateutil==2.8.2
pytz==2024.1
requests==2.31.0
six==1.16.0
tk==0.1.0
urllib3==2.1.0
virtualenv==20.25.0
